@using Entities
@using Business

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre producto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ObCategories)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td><a class="btn btn-success" href="category/update/@category.CategoryId">Actualizar</a></td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<CategoryEntity> ObCategories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        ObCategories = B_Category.CategoryList();
    }
}
